Django>=1.8,<1.9
celery[redis]
closure>=20140110
cssmin
django-assets
django-celery
#django-coverage
django-debug-toolbar
django-filter
django-guardian
#django-ipware
django-oauth-toolkit
#django-organizations
#django-passwords
django-redis-cache
django-registration-redux
django-taggit
django-taggit-templatetags
django-template-debug
django-timezone-field
djangorestframework
djangorestframework-camel-case
django-rest-swagger
-e git+https://github.com/sprymak/django-whatever.git@3bab1b847f58ecd7f5d77b1914006e929e6252f0#egg=django_whatever-master
easy-thumbnails
gunicorn
metacorus-django-utils
setproctitle
jsmin
pillow
psycopg2
pytz
pyyaml
unidecode
