Django>=1.8,<1.9
celery[redis]
closure>=20140110
cssmin
django-assets
django-celery
#django-coverage
django-debug-toolbar
django-filter
django-guardian
#django-ipware
#django-oauth-toolkit
#django-passwords
django-redis-cache
django-registration-redux
#django-taggit
#django-taggit-templatetags
django-template-debug
djangorestframework
easy-thumbnails
gunicorn
setproctitle
jsmin
pillow
psycopg2
pytz
pyyaml
unidecode
